/** ----- created by gulp-riot-css -----*/
[riot-tag=test]
{
  display: block
}
[riot-tag=test].inline
{
  display: inline-block
}
 body
{
  background: #fff;
}
[riot-tag=test]:hover h1
{
  display: block;
}
[riot-tag=test] 
{
  color: green;
}
[riot-tag=test] 
{
  color: blue;
}
[riot-tag=test2] 
{
  color: blue;
  background: yellow;
}
[riot-tag=test2] 
{
  color: green;
  background: steelblue;
}
