/** ----- created by gulp-riot-css -----*/
[riot-tag=test] h1,test h1
{
  color: green;
}
[riot-tag=test] .content,test .content
{
  color: blue;
}
[riot-tag=test2] h1,test2 h1
{
  color: blue;
  background: yellow;
}
[riot-tag=test2] .content,test2 .content
{
  color: green;
  background: steelblue;
}
