/** ----- created by gulp-riot-css -----*/
[riot-tag=test] {
& { display: block }

        &.inline { display: inline-block }

        @at-root body {
            background: #fff;
        }

        
        &:hover h1 {
            display: block;
        }

        h1 {
            color: green;
        }

        .content {
            color: blue;
        }

        @media screen and(max-width: 600px) {
            .h1 { color: red; }

            .h1 { color: red; }

            .h1 { color: red; }
        }
}

[riot-tag=test2] {
h1 {
            color: blue;
            background: yellow;
        }

        .content {
            color: green;
            background: steelblue;
        }
}

